html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem 0.5rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.form {
  margin-bottom: 1rem;
}

.label,
.input {
  display: block;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem;
  width: 100%;
  background-color: #1e90ff;
  border-radius: 6px;
  color: white;
  border: 1px solid #1e90ff;
  transition: all 200ms ease;
}

button:hover {
  background-color: #1773cd;
  border: 1px solid #1773cd;
}

.output-container {
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 0.5rem;
}

.country-header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.places-subtitle {
  margin-bottom: 0.5rem;
}

.place-name-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.divider {
  border-style: solid;
  border-color: lightgray;
  border-width: 0.5px;
}
